---
- name: Run grub-mkconfig
  command: grub2-mkconfig -o /boot/grub2/grub.cfg

- name: Restart auditd
  command: service auditd restart  # noqa 303

- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted
  when: ansible_facts['services']['sshd'] is defined

- name: Restart vmtools
  ansible.builtin.service:
    name: vmtoolsd
    state: restarted

- name: Clear RedAlert CAs
  ansible.builtin.file:
    path: "{{ item['path'] }}"
    state: absent
  loop: "{{ esmp_trusted_dir_files['files'] }}"
  when: esmp_trusted_dir_files['files'] | default(false)

- name: Update RedAlert CAs
  command: /epic/redalert/bin/sslcert --trust /epic/pki/{{ ca_bundle | basename }}
  become: true
  become_user: epicadm
  when: sslcert_bin_stat['stat']['exists']

- name: Run restorecon epic
  command: restorecon -Rv /epic
