[Unit]
Description=Starts the Cache database and Epic daemons.
Documentation=https://galaxy.epic.com/?#Browse/page=1!68!30!685354,764704,1714970,1715024
ConditionFileIsExecutable=/epic/bin/start_epic_all.ksh
ConditionFileIsExecutable=/epic/bin/stop_epic_all.ksh
RequiresOverridable=ntpd.service
After=ntpd.service local-fs.target

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/epic/bin/start_epic_all.ksh
ExecStop=/epic/bin/stop_epic_all.ksh
TimeoutStartSec=0
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=default.target
