<?xml version="1.0" encoding="utf-8"?>
<xml>
<AUTOFIND>0</AUTOFIND>
<MENU_DEF>
<MAIN>
{% set ns = namespace(order=0) %}
{% for EpicEnvironment in EpicEnvironments %}
<{{ EpicEnvironment['Environment'] }}>
<COMMAND>/epic/{{ EpicEnvironment['Instance'] | lower }}/bin/epicmenu</COMMAND>
<NAME>{{ EpicEnvironment['Environment'] }}</NAME>
<ORDER>{{ loop.index }}</ORDER>
<SHORTCUT>{{ EpicEnvironment['Environment'] }}</SHORTCUT>
<TYPE>COMMAND</TYPE>
</{{ EpicEnvironment['Environment'] }}>
{% set ns.order = loop.index + 1 %}
{% endfor %}
</MAIN>
</MENU_DEF>
</xml>
